.container{
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro', serif;
    font-size: 22px;
    overflow: visible;
  }
  .image{
    height: 100%;
   background-image: url(../assets/backgrounds/h_img.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
  }
  #mouse-click{
    padding-top : 22px;
    margin-top: 10%;
    padding-bottom: 30px; 
    /* animation-iteration-count: infinite; */
  }
  #mouse-click {
    animation: bounce 2s infinite;
  }
  .about{
    text-align: center;
    padding-bottom: 30px;
    padding-top:40px;
    font-family: 'Copse', serif;
    color: black;
  }
  #about{
    font-family: 'Gabriela', serif;
  }
  .services{
    text-align: center;
    background-image: url(assets/backgrounds/s_image.jpg);
    color:white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Copse', serif;
    font-size: 18px;
  }
  .services h2{
    font-family: 'Gabriela', serif;
    
  } 
  .what-we-do{
    font-family: 'Quattrocento', serif;
    color:black;
    text-align: center;
    padding-top: 40px;
    font-family: 'Gabriela', serif;
    
  }
  .what-we-do .headings{
    color: black;
    padding-bottom: 38px;
  }
  #whatwedo{
    display: inline;
  }
  #portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:18%;
    margin-right: 16%; 
  }
  .col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }
  .portfolio h2{
    text-align: center;
    padding-top:40px;
    font-family: 'Gabriela', serif;
  }
  .col1 {
    display: flex;
    justify-content: center;
    margin-left: 5%;

  }
  .col1 img{
    width: 80%;
    padding: 1%;
  }
  .col2{
    display: flex;
    justify-content: center;
    margin-left: 5% ;
  }
  .col2 img{
    width: 80%;
    padding: 1%;
  }
  .contact{
    background-image: url(assets/backgrounds/c_image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /* text-align: center; */
  }
  .title{
    padding: 6px;
  }
  .contact h2{
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  input[type=text],input[type=email],#comment{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Copse', serif;
    text-align: center;
  }
  input[type=text],input[type=email],#comment{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Copse', serif;
  }
  #social {
    padding-top: 40px;
}

#social-padding img {
    padding: 5px;
}
@media only screen and (max-width: 425px){
  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 20%;
    font-size: 20px;
  }
  .col-md-3 img{
    width:100%px;
    margin: 20px;
  }
  #portfolio{
    margin-left:8%;
    margin-right: 16%; 
  }
  #button{
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  #MERGE0{
    width: 84%;
    margin-left: 4%;
    padding-bottom: 10px;
  }
  #MERGE1{
    width: 100%;
    margin-left: 4%;
    margin-bottom: 20px;
  }
  #comment{
    margin-left: 4%;
    width: 84%;
  }
}
@media only screen and (min-width: 825px){
  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top:30%; 
  }
  .col-md-3 img{
    width: 400px;
    margin: 20px;
  }
  #portfolio{
    margin-left:10%;
    margin-right: 10%; 
  }
}
@media only screen and (min-width: 625px){
  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top:20%; 
    font-size: 26px;
  }
  .col-md-3 img{
    width: 400px;
    margin: 20px;
  }
  #portfolio{
    margin-left:6%;
    margin-right: 10%; 
  }
}
  
  